{% extends 'slider.html' %}
{% block slider%}
<link rel="stylesheet" href="../../public/css/categoryindex.css">
<h3>分类列表</h3>
<table class="table table-hover table-striped table-bordered table-responsive">
    <tr>
        <th>ID</th>
        <th>分类名称</th>
        <th>操作</th>
    </tr>
    {% for category in categories %}
    <tr>
        <td>{{category._id.toString()}}</td>
        <td>{{category.name}}</td>
        <td>
            <a href="/admin/category/edit?id={{category._id.toString()}}">修改</a> | 
            <a href="javascript:;" val="{{category._id.toString()}}" class="delete_btn">删除</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% include 'page.html' %}
{% include 'dialog.html' %}
<script src="../../public/js/categoryindex.js"></script>
{%endblock%}