<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>后台管理</title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/public/css/common.css" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <link rel="stylesheet" href="/public/css/headFoot.css" />
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/bootstrap/js/bootstrap.min.js"></script>
  </head>
  <body>
    <!-- 顶部导航begin -->
    <!-- 导航栏 -->
    <nav id="nav_bar">
      <div class="nav_bar">
        <div id="logo">
          <a href="/"><img src="../../public/imgs/LOGO.png"/></a>
        </div>
        <div id="nav_blog">
            <a href="/admin">后台管理</a>
        </div>
        <div id="nav_login">
          {% if userInfo._id%}
          <div class="user_info">
            <h4 class="admin_name">
                {{ userInfo.username}}
            </h4>
        </div>
      </div>
    </nav>
    
    <!-- <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/admin">后台管理</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/admin/user">用户管理</a></li>
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >分类管理 <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/admin/category">分类首页</a></li>
                <li><a href="/admin/category/add">添加分类</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >内容管理 <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="/admin/content">内容首页</a></li>
                <li><a href="/admin/content/add">添加内容</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
                >{{ userInfo.username }} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a href="#">退出</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- 顶部导航end -->
    <!-- 底部 -->
    <div>
        {%block manage%} {%endblock%}
    </div>
    <div id="footer">
        致力于为广大爱好学习者提供优质的文档支持！
    </div>
  </body>
</html>
