.manageuser{
    font-size: 18px;
    font-weight: 600;
    color: #333 !important;
}
h3{
    margin: 0;
    font-size:40px;
    font-weight:bold;
    line-height:36px;
}
table{
    margin-top: 34px;
}